// **************************************
// THEME COLOR MAP
// **************************************
$colors: (
  // Primary hidden element & Heading Color
  primary: (
    text: hsl(217, 19%, 35%)
  ),
  accent:(
  color: hsl(22, 63%, 33%)
  ),
  // Secondary hidden element Color
  secondary: (
    text: hsl(214, 17%, 51%)
  ),
  // Background Color
  bg-color: (
    main: hsl(210, 46%, 95%)
  ),
  // background color for back arrow
  arrow: (
    bg: hsl(212, 23%, 69%)
  )
);
