// **************************************
// BASE STYLES
// **************************************

@use "../utilities" as *;

/*-----BASE GLOBAL STYLES------*/
* {
  box-sizing: border-box;
}

html {
  font-size: px-to-rems(13px);
}

html,
body {
  @extend %body-properties;
}

body {
  background-color: var(--clr-bg-color-main);
}

p {
  @extend %text-modules;
}

a {
  @extend %link-properties;
}
