// **************************************
// BASE STYLES
// **************************************

@use "../utilities" as *;

/*-----BASE GLOBAL STYLES------*/
* {
  box-sizing: border-box;
}

html {
  font-size: px-to-rems(13px);
}

html,
body {
  @extend %body-properties;
}

body {
  background-color: var(--clr-bg-color-main);
  width: calc(100% - 1.5rem);
  margin-inline: auto;
}

p {
  @extend %text-modules;
}

a {
  @extend %link-properties;
}

.arrow__change-color {
  @include mq("md") {
    background-color: var(--clr-secondary-text);
    fill: #ffffff;
  }
}

.arrow__base-color {
  background-color: var(--clr-bg-color-main);
  fill: var(--clr-secondary-text);
  aspect-ratio: 1 / 1;
}

.show__back-arrow {
  @include mq("md") {
    display: block;
  }
}

.hide__back-arrow {
  @include mq("md") {
    display: none;
  }
}
