// **************************************
// BASE STYLES
// **************************************

@use "../utilities" as *;

/*-----BASE GLOBAL STYLES------*/
* {
  box-sizing: border-box;
  &:focus {
    outline: 3px dashed;
  }
}

html {
  font-size: px-to-rems(13px);
}

html,
body {
  @extend %body-properties;
}

body {
  background-color: var(--clr-bg-color-main);
  width: calc(100% - 1.5rem);
  margin-inline: auto;
}

p {
  @extend %text-modules;
}

a {
  @extend %link-properties;
}
