// **************************************
// TYPOGRAPHY STYLES
// **************************************
@use "../utilities" as *;

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: var(--fp-font-main);
}

.wrapper > h2.title__secondary {
  padding-bottom: 1rem;
}

//h2 styles
.title__secondary {
  @include text-prop(
    $size: clamp(1.1rem, 4vw, 1.8rem),
    $f-weight: var(--fp-f-weight-bold),
    $color: var(--clr-primary-text)
  );
  @extend %text-modules;
}

/*----CONTENT STYLES----*/

.content {
  @include text-prop(
    $size: clamp(0.9rem, 3vw, 1.5rem),
    $f-weight: var(--fp-f-weight-normal),
    $color: var(--clr-secondary-text)
  );
  padding-bottom: 1rem;
}
