// **************************************
// TYPOGRAPHY STYLES
// **************************************
@use "../utilities" as *;

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: var(--fp-font-main);
}

.wrapper > h2.title__secondary {
  padding-bottom: 1rem;
}

.wrapper > p.content {
  padding-bottom: 2rem;
}

//h2 styles
.title__secondary {
  @include text-prop(
    $size: clamp(1.07rem, 2.7vw, 1.6rem),
    $f-weight: var(--fp-f-weight-bold),
    $color: var(--clr-primary-text)
  );
  @extend %text-modules;
  &--avatar {
    font-weight: var(--fp-f-weight-bold);
    font-size: clamp(0.9rem, 1.5vw, 1.05rem);
    color: var(--clr-primary-text);
  }
}

/*----CONTENT STYLES----*/

.content {
  @include text-prop(
    $size: clamp(0.8rem, 2.7vw, 1rem),
    $f-weight: var(--fp-f-weight-bold),
    $color: var(--clr-secondary-text)
  );
  &__date {
    @extend .content;
    font-weight: var(--fp-f-weight-normal);
  }
}
